<!DOCTYPE html>
<html>

<head>
  <title>Flash Cards</title>
  <!-- We've provided some styles for you, aren't we nice? -->
  <link rel="stylesheet" type="text/css" href="reset.css" />
  <link rel="stylesheet" type="text/css" href="style.css" />
  <script src="angular.js"></script>
  <script src="app.js"></script>
  <script src="js/factories/flashCardFactory.js"></script>
  <script src="js/factories/scoreFactory.js"></script>
  <script src="js/directives/loader.js"></script>
  <script src="js/directives/flashCard.js"></script>
  <script src="js/controllers/flashCardController.js"></script>
  <script src="js/controllers/mainCOntroller.js"></script>
</head>

<body>
  <div ng-app="FlashCards" ng-controller="MainController">
    <button class="category-button" ng-repeat="cat in categories" ng-click="getCategoryCards(cat)" ng-class="{active: cat===activeCat}">{{cat}}</button>
    <button class="category-button" ng-click="getCategoryCards()" ng-class="{active: !activeCat}">All Categories</button>
    <div ng-include="'templates/stats.html'"></div>

    <loader ng-show="loading"></loader>
    <flash-card ng-repeat="fc in flashCards" flash-card="fc"></flash-card>
  </div>
</body>

</html>
